.tt-table{
  text-align: center;
  position: relative;
  width: 95%;
  left: 2.5%;
  right: 2.5%;
}
.customTimetable{
  width: 100%;
}
.modalwindow{
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
