@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
  font-family: Montserrat;
}

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f2f3f5;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
.hidden-print{
  display: none;
}


img[src='/Content/img/noavatar.png']{
  opacity: 0.0;
}
.img-thumbnail{
  background-color: #f2f3f5;
}
#Btn_loc_ru{
  display: none;
}
#Btn_loc_en{
  display: none;
}
.navbar-brand::hover{
  color: #337ab7;
}
.navbar-t::hover{
  color: #337ab7;
}
dt{
  margin-top: 10px;
  text-align: justify !important;
}
dd{
  margin-top: 10px;
  text-align: justify !important;
}
.modhint{
  font-size: 11pt;
}
h1, h2{
  text-align: center;
}
#mydiv {
      position: absolute;
  right: 0px;
  top: 90%;
  width: 500px;
      z-index: 9;
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      text-align: center;
    }

    #mydivheader {
      padding: 10px;
      cursor: move;
      z-index: 10;
      background-color: #2196F3;
      color: #fff;
    }
iframe{
  display: none;
  width: 100%;
  height: 500px;
}
.expand{
  color: white;
  font-size: 25pt;
  margin: 250px;
  cursor: pointer;
}
.customTimetable{
  width: 90%;
  height: 570px;
}
.thead-tt{
  width: 700px;
}
.tbody-tt{
  width: 700px;
}

.modalwindow{
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.97);
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0px 3px 21px 2px rgba(34, 60, 80, 0.2);
  display: none;
  overflow-y: scroll;
}

.switch-btn {
  scale: 0.6;
  vertical-align: middle;
  display: inline-block;
  width: 72px; /* ширина */
  height: 38px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: #bfbfbf; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: "";
  height: 32px; /* высота кнопки */
  width: 32px; /* ширина кнопки */
  border-radius: 17px;
  background: #fff; /* цвет кнопки */
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 3px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #3ba4ff;
}
.switch-on::after {
  left: 37px;
}
